import(nleqslv,ggplot2,RColorBrewer)

  importFrom("stats", "aggregate", "as.formula", "cor", "glm", "lm",
             "quantile", "residuals", "weighted.mean", "aov", "chisq.test",
             "cor.test", "median", "sd", "summary.lm",
             "addmargins",
             "pnorm",
             "density")
  importFrom("utils", "installed.packages", "combn")
  importFrom("rlang", ".data", "as_name", "eval_tidy")
  importFrom("nnet", "multinom")
  importFrom("wdm", "wdm")
  importFrom("MASS", "corresp", "fitdistr")
  importFrom("paletteer", "scale_color_paletteer_d")
  importFrom("ggpattern", "geom_bar_pattern", "scale_pattern_spacing_continuous")

export(assoc.twocat,assoc.catcont,assoc.twocont,assoc.yx,catdesc,condesc,darma,oddsratio.table,pem,phi.table,translate.logit,wtable,
ggassoc_assocplot,ggassoc_bertin,ggassoc_chiasmogram,ggassoc_crosstab,ggassoc_phiplot,ggassoc_marimekko,ggassoc_boxplot,ggassoc_scatter)
