import(ggplot2)

  importFrom("stats", "aggregate", 
             "as.formula", 
             "cor", 
             "glm",
             "lm",
             "quantile",
             "residuals",
             "weighted.mean",
             "aov", 
             "chisq.test",
             "median",
             "sd",
             "summary.lm",
             "addmargins",
             "pnorm",
             "density",
             "approx",
             "setNames",
             "xtabs")
  importFrom("utils", "installed.packages", "combn")
  importFrom("rlang", ".data", "as_name", "eval_tidy")
  importFrom("MASS", "corresp", "fitdistr")
#  importFrom("paletteer", "scale_color_paletteer_d")
#  importFrom("ggpattern", "geom_bar_pattern", "scale_pattern_spacing_continuous")

export(assoc.twocat,assoc.catcont,assoc.twocont,assoc.yx,assoc.xx,assoc.twocat.by,assoc.catcont.by,assoc.twocont.by,
       catdesc,condesc,darma,or.table,pem.table,phi.table,
       profiles,
       weighted.table,weighted.quantile,weighted.mad,weighted.sd,weighted.cor,weighted.cor2,weighted.cov,weighted.cov2,
       ggassoc_assocplot,ggassoc_bertin,ggassoc_chiasmogram,ggassoc_crosstab,ggassoc_phiplot,ggassoc_marimekko,
       ggassoc_boxplot,ggassoc_scatter)
export(StatTwocat,stat_twocat)
